# 专门处理续期验证
https://121.41.72.189:443 {
    handle /.well-known/acme-challenge/* {
        root * /var/www/acme-challenge
        file_server
    }
    # 其他所有 HTTP 请求，强制跳转到 HTTPS
    handle {
        redir https://{host}{uri} permanent
    }
}

# 前端 HTTPS 服务
121.41.72.189 {
    tls /etc/ssl/caddy-certs/fullchain.cer /etc/ssl/caddy-certs/121.41.72.189.key

    reverse_proxy frontend:3000
    encode gzip
    header Strict-Transport-Security "max-age=31536000; includeSubDomains"
}