{
    debug
    default_sni 121.41.72.189
    auto_https off
}

# ===== HTTP 重定向 =====
:80 {
    handle /.well-known/acme-challenge/* {
        root * /var/www/acme-challenge
        file_server
    }
    handle /traceqa/* {
        reverse_proxy minio:9000
    }
}

# ===== 前端 HTTPS 服务 =====
https://121.41.72.189 {
    tls /etc/ssl/caddy-certs/fullchain.cer /etc/ssl/caddy-certs/121.41.72.189.key

    handle /traceqa/avatar/* {
         reverse_proxy minio:9000
    }

    reverse_proxy frontend:3000
    encode gzip
    header Strict-Transport-Security "max-age=31536000; includeSubDomains"
}