# ============================================================
# 溯知 / TraceQA Caddy 反向代理
#
# ============================================================

121.41.72.189 {
    reverse_proxy frontend:3000
    encode gzip
    header Strict-Transport-Security "max-age=31536000; includeSubDomains"
}

minio.121.41.72.189 {
    reverse_proxy minio:9000
}